html {
    background-color: #021c26;
    margin: 0;
}

@keyframes color-change {
    0% {
        color: white;
    }
    20% {
        color: #3df2e0;
    }
    40% {
        color: #0fb2f2;
    }
    60% {
        color: #085abc;
    }
    80% {
        color: #0fb2f2;
    }
    100% {
        color: white;
    }
}

nav {
    img.logo {
        padding: 2em;
        width: 7em;
        border-radius: 50%;
    }
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        vertical-align: middle;
        color: white;
        font-family: Noto Sans, sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 5rem;
        animation: color-change 10s infinite;
    }
    h4 {
        color: white;
        font-size: 0.6rem;
        font-family: Noto Sans, sans-serif;
        text-align: center;
        position: inherit;
        top: 60%;
    }
}

.container {
    position: absolute;
    h4 {
        color: white;
        font-family: Noto Sans, sans-serif;
        text-align: center;
    }
}

.footer {
    display: flex;
    position: fixed;
    top: 67%;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    img {
        width: 2em;
        padding: 0.5em;
    }
}