html {
    background-color: #00030D;
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        vertical-align: middle;
        color: white;
        font-family: Noto Sans, sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 10rem;
    }
    h4 {
        color: white;
        font-family: Noto Sans, sans-serif;
        text-align: center;
        position: inherit;
        top: 60%;
    }
}

.container {
    position: absolute;
    h4 {
        color: white;
        font-family: Noto Sans, sans-serif;
        text-align: center;
    }
}